@import "../../App.scss";

@media (max-width: 1500px){
    .container-holdup{
        display: flex;
        flex-direction: column;
        .h3-holdup{
            width: 300px;
            padding: 0;
            margin-top: 50px;
            .broom-bean{
                left: 30px;
                top: 20px;
            }
        }
        .p-holdup{
            padding-bottom: 0;
            max-width: none;
            width: 540px;
        }
    }
    main{
        section{
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            .box-container{
                margin: 50px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }

    .banner-container{
        .text-banner{
            p{
                margin: 20px 40px;
            }
        }
    }
}
@media (max-width: 850px){
    .container-holdup{
        .brickred-bean{
            left: -350px;
            bottom: 250px;
        }
    }
    .banner-container{
        .flamepea-bean{
            right: -250px;
        }
    }
    main{
        .beanimg-container{
            .borderbean-silvertree{
                right: 90px;
            }
            .img-bean{
                width: 38rem;
                height: 20rem;
            }
        }
        .borderbean-cerisedark{
            top: 0rem;
        }
        footer{
            .footer-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 30px;
                img{
                    margin: 10px;
                }
                .links{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 10px;
                }
                .social-media{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    li{
                        a{
                            margin: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 450px){
    .banner-container{
        .text-banner{
            h2{
                font-size: 40px;
            }
            p{
                font-size: 25px;
            }
        }
        .flamepea-bean{
            right: -300px;
        }
    }
    .container-holdup{
        margin-bottom: 0;
        .brickred-bean{
            left: -400px;
        }
        .p-holdup{
            width: 430px;
            font-size: 13px;
            margin: 20px;
        }
    }

    main{
        .borderbean-cerisedark{
            left: -180px;
            top: 0rem;
            border: 2px solid $cerise-dark;
        }
        .atlantis-bean{
            display: none;
        }
        .beanimg-container{
            .borderbean-silvertree{
                right: 60px;
                top: 130px;
                border: 2px solid $silver-tree;
            }
            .calypso-bean{
                left: 120px;
                top: 90px;
            }
            .img-bean{
                width: 25rem;
                height: 16rem;
                box-shadow: 2.4px 2.7px 0px $broom;
            }
        }
        section{
            .box-container{
                margin-bottom: 0;
                .box-participants{
                    width: 400px;
                    height: 105px;
                    p{
                        font-size: 25px;
                    }
                    .minibean{
                        @include btnNav(85px, 180px, none);
                        right: 40px;
                    }
                }
                .text-box{
                    width: 450px;
                    color: white;
                    p{
                        margin: 30px;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}